body{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.main_title{
    font-size: 80px;
    font-weight: 500;
}
.sub_title{
    font-size: 64px;
    font-weight: 500;
}
.small_title{

    font-size: 48px;
    color: #fff;
    text-align: center;
    font-weight: 500;
}
.mini_title{
    font-size: 36px;
    font-weight: 500;
}
.container{
    max-width: 1380px;
    width: 100%;
    margin: 0 auto; /*позиционирование по центру*/
}
.header{
    background: url(pictures/banner1.jpg) no-repeat center top / cover;
    height: 900px;
}
header a {
    color: #fff;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;}
.menu li a{
    text-decoration: none;
    font-size: 14px;
}
.menu li {
    margin-right: 40px;
}
.nav{
    display: flex;
}
ul, li{
    display: block;
    padding: 0;
}
.btn{
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background-color: #BB2CFF;
    border: none;
    width: 373px;
    height: 54px;
    border-radius: 10px;
    line-height: 54px;
}
.trip{
    width: 912px;
    color: #fff;
}
.trip p{
    font-size: 24px;
}
.banner{
    background: url(pictures/banner2.jpg);
    border-radius: 10px;
 }
 .mail{
    background: url(pictures/banner3.jpg);
    color: #fff;
    height: 330px;
 }
 .footer{
    background-color: black;
 }
 .footer a{
    color: #fff;
 }
