body{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.8px;
    padding: 0;
    margin: 0;
}
a{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.4px;
    color: #fff;
    text-decoration: none;
}
h1{
    font-size: 80px;
    font-weight: 500;
    line-height: 80px;
}
h2{
    font-size: 64px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: -2px;
    margin-top: 120px;
    margin-bottom: 40px;
}
h3{
    font-size: 48px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: -1.6px;
    color: #fff;
    text-align: center;    
}
h4,h6{
    font-size: 36px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -1.6px;
}
.container{
    width: 1380px;
    margin: 0 auto; /*позиционирование по центру*/
    position: relative;
    z-index: 2;
}
.btn{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BB2CFF;
    border: none;
    width: 373px;
    height: 54px;
    border-radius: 10px;
}
.btn:hover{
    background-color: #DC95FD;
}
.btn:active{
    background-color: #BB2CFF80;
}
.header{
    background: url(pictures/banner1.jpg) no-repeat center top / cover;
    background-position: center;
    background-size: cover;
    height: 900px;
    margin-bottom: 120px;
    position: relative;
}
.header::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0; 
    height: 100%; 
    width: 100%; 
    background-color: #00000099;
    pointer-events: none;
    z-index: 1; 
}
.trip{
    color: #fff;
}
.header h1{
    width: 912px;
    height: 240px;
    margin-bottom: 24px;
    margin-top: 169px;
}
.header p{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    width: 912px;
    height: 60px;
    margin-top: 0px;
    margin-bottom: 40px;
}
.nav{
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    width: 365px;
    box-sizing: border-box;
    gap: 24px;
    margin-left: auto;
    height: 20px;
 }
 .menu_bg{
    height: 72px;
    background-color: #00000033;
 }
 .bag{
    height: 20px;
    width: 20px;
    margin-bottom: -6px;
 }
ul, li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.news_block{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 24px;
}
.news_card{
    margin: 0;
    width: 678px;
    height: 440px;
    background-color: #F3F3F3;
    border-radius: 24px;
}
.news_content{
    margin: 0;
    width: 614px;
    padding: 32px;
}
.descrip{
    margin: 0;
    height: 95px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news_content h4{
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    height: 86px;
}
.data{
    margin: 0;
    height: 30px;
}
.pages{
    height: 56px;
    border: 1px solid #BB2CFF;
    box-sizing: border-box;
    margin-top: 32px;
    margin-bottom: 120px;
}
.banner{
    background: url(pictures/banner2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    height: 640px;
    box-sizing: border-box;
    padding-top: 187px;
    padding-right: 60px;
    padding-bottom: 277px;
    padding-left: 60px;
    position: relative;
    
 }
 .banner::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0; 
    height: 100%; 
    width: 100%; 
    background-color: #00000099;
    pointer-events: none;
    z-index: 1; 
}
 .banner h3{
    width: 1260px;
    height: 180px;
    margin: 0px 0px 40px 0px;
    position: relative;
    z-index: 2; 
 }
 .banner a{
    position: relative;
    margin: auto;
    z-index: 2; 
 }
 .mail{
    background: url(pictures/banner3.jpg);
    color: #fff;
    height: 330px;
    margin-top: 120px;
 }
 .mail h2{
    margin-top: 0px;
    margin-bottom: 0px;
 }
 .articles_3{
    height: 597px;
    border: 1px solid #BB2CFF;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 40px;
 }
 .articles a{
    width: 281px !important;
 }
 .articles h2{
    margin-bottom: 24px !important;
 }
 .articles p{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -1px;
    margin-bottom: 40px;
    margin-top: 0px;
    height: 30px;
 }
.faq_list{
    height: 429px;
    border: 1px solid #BB2CFF;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 120px;
}
 .footer{
    margin-top: 120px ;
    height: 140px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .footer_menu{
    width: 644px;
    height: 20px;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: auto;
    gap: 32px;
 }
